body{ /*Met une couleur de fond*/
  background-color: #ffefc3;
}

header{ /*entête*/
  background-color: #64f7f2;
  border-style:solid;
  border-color: #be64f7;
  border-width: 3px;
  box-shadow: 3px 3px 5px 2px black;
}

header h1{ /*titre entête*/
  text-align: center;
  font-family: Arial;
  text-decoration: underline;
}

h3{ /* Les titres des différents projets*/
  background-color: green;
  font-family: Arial;
  text-align: center;
  color:black;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin:0;
  padding:0;
}

h2{ /*titre des semaines*/
  font-family: Arial;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;

}
.semaine{ /* espace pour les différentes semaines*/
  background-color: #53a8ff;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin:50px;
  background-image: url(imagefond1.jpg);
  background-size: 100% 150%;
  box-shadow: 3px 3px 5px 4px black;
}

.projet{ /* css sur les cartes projet*/
  display: inline-block;
  height: 200px;
  width: 250px;
  background-color: #eeabff;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
  margin-left: 20%;

}

.projet:hover{ /* css sur les cartes projet qui mets une ombre
  quand on passe le curseur dessus*/
  display: inline-block;
  height: 200px;
  width: 250px;
  background-color: #eeabff;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
  margin-left: 20%;
  box-shadow: 3px 3px 5px 4px black;
}

#cv{ /*modifie la position pour l'aligner avec l'autre*/
  position: relative;
  bottom: 20px;
}

#divertissement{ /*modifie la position pour l'aligner avec l'autre*/
  position: relative;
  bottom:20px;
}


#fait{ /* modif de la case "fait" */
  margin-left: 35%;
  background-color: green;
  width: 75px;
  border-style: solid;
  border-width: 2px;
  border-color:black;
  text-align: center;
}

.fait{/* barre la liste pour les course*/
  text-decoration: line-through;
}

li{
  font-family: Arial;
}

li:active{ /*j'espérais pouvoir cocher les listes directement
 sur la page web, mais ni focus, ni visited ne fonctionne*/
  text-decoration: line-through;
  font-family: Arial;
}

.encours{ /*mise en forme des cases en cours/fait*/
  text-align: center;
  margin-left: 35%;
  background-color: red;
  width: 75px;
  border-style: solid;
  border-width: 2px;
  border-color:black;
}


footer{ /*mise en forme du footer en bas de la page*/
  background-color: #c3ecff;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 3px 3px 5px 4px black;
  font-family: Arial;
}
