body{
  background-color: #ffefc3;
}

header{ /*entête*/
  background-color: #64f7f2;
  border-style:solid;
  border-color: #be64f7;
  border-width: 3px;
}

header h1{ /*titre entête*/
  text-align: center;
  font-family: Arial;
}

h3{ /* Les titres des différents projets*/
  background-color: green;
  font-family: Verdana;
  text-align: center;
  color:white;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin:0;
  padding:0;
}

h2{ /*titre des semaines*/
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;

}
.semaine{ /* espace pour les différentes semaines*/
  background-color: #53a8ff;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin:50px;
}

.projet{ /* css sur les cartes projet*/
  display: inline-block;
  height: 200px;
  width: 250px;
  background-color: white;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
  margin-left: 20%;
}

#cv{
  position: relative;
  bottom: 20px;
}

#divertissement{
  position: relative;
  bottom:20px;
}


#fait{ /* modif de la case "fait" */
  margin-left: 35%;
  background-color: green;
  width: 75px;
  border-style: solid;
  border-width: 2px;
  border-color:black;
  text-align: center;
}

.fait{
  text-decoration: line-through;
}

.encours{
  text-align: center;
  margin-left: 35%;
  background-color: red;
  width: 75px;
  border-style: solid;
  border-width: 2px;
  border-color:black;
}


footer{
  background-color: #c3ecff;
  height: 40px;
  margin-top: 20px;
  text-align: center;
}
